@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
	int count = 0;
}

<div class="card-body">
	<table class="table table-bordered table-striped mb-0" id="datatable-editable">
		<thead>
			<tr>
				<th>#</th>
				<th>Ad</th>
				<th>Link</th>
				<th>İkon</th>
				<th>Sil</th>
				<th>Güncelle</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;
				<tr data-item-id="@count">
					<th>@count</th>
					<td>@item.SocialMediaName</td>
					<td>@item.SocialMediaLink</td>
					<td>@item.SocialMediaIcon</td>
					<td class="actions"><a href="DeleteSocialMedia/@item.SocialMediaId" class="on-default remove-row"><i class="far fa-trash-alt"></i></a></td>
					<td class="actions"><a href="UpdateSocialMedia/@item.SocialMediaId" class="on-default edit-row"><i class="fas fa-pencil-alt"></i></a></td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row mt-3">
		<div class="col-sm-6">
			<div class="mb-3">
				<a href="CreateSocialMedia" id="addToTable" class="btn btn-primary">Yeni Hesap Ekle <i class="fas fa-plus"></i></a>
			</div>
		</div>
	</div>
</div>