@model List<ResultCommentDto>

<div class="tab-pane px-0 py-3" id="productReviews">
    <p>@Model.Count Adet yorum bulunmaktadır</p>
    <ul class="comments">

        @foreach (var item in Model)
        {
            <li>
                <div class="comment">
                    <div class="img-thumbnail border-0 p-0 d-none d-md-block">
                        <img class="avatar rounded-circle" alt="" src="@item.ImageUrl">
                    </div>
                    <div class="comment-block">
                        <div class="comment-arrow"></div>
                        <span class="comment-by">
                            <strong>@item.NameSurname</strong>
                            <span class="float-end">
                                <div class="pb-0 clearfix">


                                    <div title="Rated @item.Rating out of 5" class="float-start">
                                        <input type="text" value="@item.Rating" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
                                    </div>

                                    <div class="review-num">
                                        <span class="count" itemprop="ratingCount">@item.CreatedDate.ToShortDateString()</span>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <p>@item.CommentDetail</p>
                    </div>
                </div>
            </li>
        }
    </ul>
    <hr class="solid my-5">

    @await Html.PartialAsync("~/Views/Product/AddComment.cshtml", new { id = ViewBag.ProductId })
</div>